<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script type="module">
    import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";

    const socket = io();
    let updates = []
    socket.on('update', data => {
      updates.unshift(data)
      renderUpdates()
    })

    let socketId = null
    socket.on("connect", () => {
      socketId = socket.id
    });

    function renderUpdates() {
      const updatesContainer = document.getElementById('updates-container')
      updatesContainer.innerHTML = JSON.stringify(updates, null, 2)
    }

  </script>
</head>

<body>
  <h1>Teste webhooks</h1>
  <hr />
  <pre id="updates-container">
    []
  </pre>
</body>

</html>